$tbc-x: 'TBC X';
$tbc-black: 'TBC X Black'; // Corrected variable name

@font-face {
  font-family: $tbc-x;
  src: url('../fonts/TBCX-Regular.woff2') format('woff2'),
  url('../fonts/TBCX-Regular.woff') format('woff'),
  url('../fonts/TBCX-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $tbc-black;
  src: url('../fonts/TBCX-Black.woff2') format('woff2'),
  url('../fonts/TBCX-Black.woff') format('woff'),
  url('../fonts/TBCX-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$black-primary: #161616;
$black-secondary: #2b2b2b;
$white-color: white;
$blue-color-active: #00a3e0;
h1 {
  font-size: 42px;
}

h2 {
  font-weight: 100;
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 100;
}
a{
  transition: all 0.3s ease;
  &:hover{
    transition: all 0.3s ease;
  }
}
img{
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $tbc-x;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  background: $black-primary;
  padding: 20px 15px;
  position: sticky;
  top: 0;
  opacity: 1;
  transition: all .3s ease;
  z-index: 5;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style-type: none;
      padding: 0 10px;

      a {
        color: white;
        text-decoration: none;
        padding: 0 10px;
        font-size: 14px;
        &:hover{
          color: $blue-color-active;
        }
      }

      &.active {
        a {
          color: $blue-color-active;
        }
      }
    }
  }
  &.fixed{
opacity: 0.9;
    transition: all .3s ease;
  }
}
.hero-banner {
  position: relative;
  display: flex;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:$white-color;
    font-weight: bold;
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
    font-family: $tbc-black;
    font-size: 34px;
    line-height: 1.8;

    span{
      display: block;
      font-size: 42px;
    }
  }
}
.program-description{
  background: $black-secondary;
  padding: 65px 0;
  font-size: 28px;
  p{
    margin: 0;
    color: white;
    line-height: 1.8;
  }
  a{
    color: $blue-color-active;
    text-decoration: none;
    display: block;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
    &:hover{
      color: #aaaaaa;
    }
  }
}
.training-courses{
  padding: 34px 0 55px 0;
  background: $black-primary;
  color: $white-color;

  .container {
    > h2 {
      margin: 0 0 67px;
      font-weight: 100;
    }
  .training-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:  23px 38px;

    .training-item{
      border: 1px solid rgb(85 85 85);
      min-height: 412px;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      box-sizing: border-box;

      img {
        border-radius: 6px 6px 0 0;
        margin-bottom: 40px;
      }

      h3 {
        margin: 0 0 30px;
        padding: 0 22px;
        font-size: 18px;
        line-height: 1;
        font-weight: 100;
      }

      a {
        margin-top: auto;
        margin-bottom: 25px;
        padding: 0 22px;
        text-decoration: none;
        display: flex;
        line-height: 1;
        align-items: center;
        color: $blue-color-active;
        font-weight: bold;

        &:hover {
          opacity: 0.9;
        }

        span {
          display: block;

          svg {
            fill: $blue-color-active
          }

          &.icon-links {
            height: 10px;
            margin: 0 10px 0 0;
          }
        }


      }

      p {
        margin:0 0 10px;
        padding: 0 22px;
        font-size: 14px;
      }
    }
  }
}
}
.partners {
  background: $black-secondary;
  padding-bottom:80px ;

  .container {
    > h2 {
      padding: 34px 0 30px;
      margin: 0;
      color: $white-color;
      font-weight: 100;
    }
  }

  .partners-logo {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin: 70px auto 0;
    padding-bottom: 30px;

    &.center-logo {
      justify-content: center;
    }

    picture {
      justify-content: space-between;
      display: flex;
      text-align: center;
      max-width: 250px;
      height: auto;

      img {
        vertical-align: middle;
      }

      &:nth-child(2) {
        display: flex;
        justify-content: center;
      }
    }

  }

  .slideshow-container {
    position: relative;

    .mySlides {
      display: none;
    }



    /* Slideshow container */

    .slideshow-container {

      position: relative;
      margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      color: white;
      font-weight: bold;
      transition: 0.6s ease;
      user-select: none;
      transform: translateY(-50%);
      background: none;
      outline: none;
      border: none;


      svg {
        width: 22px;
        height: 35px;
        z-index: 12;
        fill: white;
      }
    }
    .prev {
      left: 100px;
    }
    .next {
      transform: translateY(-50%) rotate(180deg);
      right: 100px;
    }
    .prev:hover, .next:hover {
      opacity: 0.5;
      transition: all 0.6s ease;
    }
    /* The dots/bullets/indicators */
    .dots {
      text-align: center;
      margin-top: -30px;
      position: relative;
      z-index: 3;

      .dot {
        cursor: pointer;
        height: 6px;
        width: 6px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */

    .fade {
      animation-name: fade;
      animation-duration: 4.5s;
    }

    @keyframes fade {
      from {
        opacity: .4;
      }

      to {
        opacity: 1;
      }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next, .text {
        font-size: 11px;
      }
    }
  }
}

.faq {
  background: $black-primary;
  color: $white-color;
  padding: 100px 0 ;

  .container {
    max-width: 900px;


    .faq-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-weight: 100;
        font-size: 24px;
      }

      a {
        color: $blue-color-active;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: rgb(170 170 170);
        }
      }
    }

    .accordion-item {
      border-bottom: 1px solid rgb(53, 49, 49);
      margin-bottom: 10px;
      overflow: hidden;

      h3 {

        padding: 25px 0;
        margin: 0;
        cursor: pointer;
        font-size: 18px;
        font-weight: 100;
    }

      .accordion-text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        .reading-text{
          padding: 30px;
        }
        p{
          font-size: 14px;
          line-height: 1.8;
          &:last-child{
            margin-bottom: 30px;
          }
        }
      }

      &.active .accordion-text {
        max-height: 1000px;
    }
  }
  }
}
